@layer tw-base, mantine, mantine-datatable, tw-components, tw-utilities;

@layer tw-base {
  @tailwind base;
}

@layer tw-components {
  @tailwind components;
}

@layer tw-utilities {
  @tailwind utilities;
}

/* @import "@mantine/core/styles.layer.css"; */

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
